.ServiceDetailsContainer{
    display: inline-block;
    border: 2px solid black;
}
.reviewListContainer{
    display: inline-block;
    margin: 20px 20px;
    border:  2px solid black;
}
.reviewList{
    display:inline-block;
    border: 2px solid red;
}

.imgContainer{
    display : inline;
    height : 25px;
    width: 25px;
}
.imgContainer > img{
    display : inline;
    height : 25px;
    width: 25px;
}