.listContainer{
    display: block;
    margin: 0 20%;
    float: none;
}

.listItems{
    border: 2px solid black;
    margin: 20px 0;;
} 
.listItems > a {
    margin: 0 20px;
    float: inline-start;
}

.listItems:hover {
    background-color: azure;
}