.ServiceDetailsContainer{
    display: inline-block;
    border: 2px solid black;
}
.reviewListContainer{
    display: inline-block;
    margin: 20px 20px;
    border-radius: 10px;
    border:  2px solid black;
}
.reviewList{
    display:flex;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(163, 102, 102);
}
.reviewList > p{
    display:flex;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(166, 142, 142);
}


.imgContainer{
    display : inline;
    height : 25px;
    width: 25px;
}
.imgContainer > img{
    display : inline;
    height : 25px;
    width: 25px;
}